{% extends 'base.html' %}

{% block title %} جزئیات انبار {% endblock %}

{% block content %}
  <h2>موجودی انبار</h2><br>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">نام</th>
          <th scope="col">موجودی</th>
        </tr>
      </thead>
      <tbody>
        {% for item in warehouse.goods.all %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{item.name}}</td>
            <td>{{item.inventory}}</td>
          </tr>
        {% endfor %}
      </tbody>
  </table>

{% endblock %}