{% extends 'base.html' %}
{% load jformat %}
{% block title %} Transfer Details {% endblock %}

{% block content %}

    {% if transfer.mode == 'exit' %}
        <p>نوع : خروج</p>
    {% else %}
        <p>نوع : ورود</p>
    {% endif %}

    <p>تحویل دهنده : {{transfer.from_employee}}</p>
    <p>تحویل گیرنده : {{transfer.to_employee}}</p>
    <p>تاریخ : {{transfer.date|jformat:"%Y/%m/%d"}}</p>
    <br>
    
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">کالاها</th>
          <th scope="col">تعداد</th>
        </tr>
      </thead>
      <tbody>
        {% for item in transfer.items.all %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{item.goods.name}}</td>
            <td>{{item.quantity}}</td>
          </tr>
        {% endfor %}
      </tbody>
  </table>

{% endblock %}